DATABASE_URL=postgresql://postgres:postgres@postgres:5432/mentrix
NODE_ENV=development

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=mentrix-bucket

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_USER=your-user
SMTP_PASS=your-password

REDIS_URL=redis://redis:6379
AI_SERVICE_URL=http://ai-serivce:8000

ACCESS_TOKEN_SECRET=e6f1139c93ed32462aeba8092b41155c83b7b335c86cf89c2b86125c91130815
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=8ec7ef4023ccda1cfb5888af9b2e73dc503249cb5c4e91e75c80fe11ba9787fe
REFRESH_TOKEN_EXPIRY=10d